---
apiVersion: apps/v1
kind: Deployment
metadata:
 name: myapp-deployment
 labels:
  app: java-app
spec:
 replicas: 1
 selector:
  matchLabels:
   app: java-app
 template:
  metadata:
   name: java-app
   labels:
    app: java-app
  spec:
   containers: 
   - name: javaapp-container
     image: palwalun/myapp:latest
	 ports:
	  - containerPort: 9090

---
apiVersion: v1
kind: Service
metadata:
 name: java-app
spec:
 selector:
  matchLabels:
   app: java-app
 ports:
  - port: 80
    targetPort: 9090
 type: NodePort
 
---
	
 
